<%= form_for(@commission, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @commission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commission.errors.count, "error") %> prohibited this commission from being saved:</h2>

      <ul>
      <% @commission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :amount, :step => 'any', class: 'text_field form-control' %>
      </div>
    </div>
  </div>
  <div class="actions pull-right">
    <%= f.submit "Save", class: "btn btn-primary"%>
    <%= link_to 'Cancel', commissions_path, class: "btn btn-none" %>
  </div>
<% end %>
