<h1>Regions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Area</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.area %></td>
        <td><%= region.city %></td>
        <td><%= region.state %></td>
        <td><%= region.zipcode %></td>
        <td><%= region.country %></td>
        <td>
          <%= link_to region, class: 'btn btn-default btn-xs' do %>
            <i class="fa fa-search" title="View" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_region_path(region), class: 'btn btn-default btn-xs' do %>
            <i class="fa fa-pencil-square-o" title="Edit" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <%= link_to region, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
          <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_region_path, class: 'btn btn-primary' do%>
Add
<% end %>
