<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @region.area %>
</p>

<p>
  <strong>City:</strong>
  <%= @region.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @region.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @region.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @region.country %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
