<%= form_for(@sale, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :quantity, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.number_field :quantity, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subtotal, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :subtotal, :step => 'any',  class: 'text_field form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tax, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :tax, :step => 'any',  class: 'text_field form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :total, :step => 'any',  class: 'text_field form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :payment_type, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
    <!-- <%= f.text_field :payment_type, class: 'form-control' %> -->
    <%= select_tag(:payment_type, options_for_select([['Cash', 1], ['Check', 2], ['Credit Card', 3]]), 
      class:'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sale_date, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.datetime_select :sale_date, class: 'form-control' %>
    </div>
  </div>
  <div class="actions pull-right">
    <%= f.submit "Save", class: "btn btn-primary"%>
    <%= link_to 'Cancel', sales_path, class: "btn btn-none" %>
  </div>
<% end %>
